@import url(layoutStyle.css);


/* H */

h4 {
    text-decoration: underline;
    margin-bottom: 0;
    margin-top: 33px;
}



/* LEFT */


#left {
    margin: 0px 0px 0px 12%;
}

.textImg{
    margin-top: 24px;
    margin-bottom: 27px;
}

.textImg img {
    height: 550px;
    border-radius: 1%;
    border: solid 3px var(--main-grey);
}

.illustration {
    padding: 9px;
    align-content: center;
}

.text {
    width: inherit;
    padding: 9px;
    align-content: center;
}

.textImg p {
    text-align: justify;

}
.indent{
    text-indent: 1em;
}


/* MENU */

aside:before {
    /* A pseudo element is created before outer_cont that will display the background image and its position property is set to absolute */
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("img/approachV1.jpg");
    opacity: var(--opacity);
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}


/* RESPONSIVE */

@media screen and (max-width: 900px) {
    .illustration {
        overflow: hidden;
    }

    .illustration img {
        border: solid 3px var(--main-grey);
        height: 250px;
        width: 250px;
    }
}