#links {
    display: none
}

/* guillemets 
«&nbsp
&nbsp» 
*/
/* GENERALITE */

:root {
    --main-white: rgb(252, 252, 243);
    --main-aside: rgb(172, 176, 181);
    --main-blue: #45567d;
    --main-grey: #303841;
    --main-gold: yellow;
    --opacity: 0.2
}

@font-face {
    font-family: "MyPerpetua";
    src: url(font/perpetua.ttf);
}


@font-face {
    font-family: "MyPapyrus";
    src: url(font/papyrus.ttf);
}



/* LAYOUT */

html {
    background-color: var(--main-white);
}

body {
    margin: 0;
    color: black;
    font-size: 20px;
    font-family: "MyPerpetua";
    background-color: var(--main-white);
}

main {
    padding: 8px;
}

header {
    margin-left: 9%;
    margin-bottom: 10px;
    display: flex;
}

#banner {
    display: flex;
}

#logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 50px;
}

/* H */

h1, h2 {
    font-family: "MyPapyrus";
    font-weight: bold;

}

h1 {
    margin-bottom: 12px;

}

h2 {

    font-size: 1.37em;
    margin-top: 0px;
    margin-bottom: 60px;
}

h3 {
    padding-top: 12px;
    font-size: 26px;
    font-weight: normal;
    padding-left: 9px;
}

h4 {
    font-weight: normal;
    font-size: 20px;
    text-indent: 1em;
    margin: 0 0 6px 0;
}

h5 {
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 6px 0;
    text-decoration: underline;
}

p {
    margin-top: 9px;
}

#page {
    display: flex;

}

.textImg {
    display: flex;
    justify-content: space-around;
    margin-top: 51px;
}


/* CITATION */
.quotation {
    text-indent: 1em;
    margin-top: 72px;
    display: block;
}

.quot {
    font-style: italic;
}

.author {
    text-align: right;
    padding-right: 12px;
    font-weight: bold;
}

/* FOOTER */

#top {
    display: none;
    text-align: center;
}

#top a {
    padding: 6px 8px 6px 8px;
    color: var(--main-grey) !important;
    background-color: var(--main-white);
    text-decoration: none;
    font-weight: bolder;
    border: var(--main-grey) solid 1px;
    border-radius: 50%;
}

footer {
    margin-top: 72px;
}



#cookies {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    /* text-align: left;     */
    width: 80%;
    margin: auto;
}


footer a, .date a {
    color: black;
    text-decoration: none;

}

#footerSeparator {
    text-align: center;
    margin-bottom: 12px;
}

#footerSeparator img {
    height: 1px;
    width: 80%;
}

footer img {
    width: 13px;
}

#footerContacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 27px;
}


/*  menu à droite  */
aside {
    min-width: 21%;
    height: 100vh;
    position: sticky;
    top: 0;
    align-content: center;
    padding-right: 45px;
}

main {
    width: 79%;
}

aside:before {
    /* A pseudo element is created before outer_cont that will display the background image and its position property is set to absolute */
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("img/navArbre.jpg");
    opacity: var(--opacity);
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}


nav>* {
    z-index: 5;
}

#separator {
    width: 2px;
    background-image: url(img/sepArbreVertic.jpg);
    background-size: cover;
    overflow: hidden;
}

#links {
    margin-top: 72px;
    font-size: 18px;
}


nav, #menuBurger {
    display: flex;
    flex-direction: column;
}

aside a {
    color: black;
    text-decoration: none;
    text-indent: 0.3em;
    margin: 12px;
    border-bottom-width: 2px;
    border-bottom-style: none;
}

/* [aria-current] */
nav>a::after {
    content: "";
    display: block;
    height: 2px;
    width: 290px;
}

[aria-current]::after {
    background: url(img/sepArbreHoriz.jpg);
}

/* [aria-current] {
    font-weight: bold;
} */

/* HOVER */

a:hover {
    font-weight: bold;
}

nav>a:hover:after {
    content: "";
    display: block;
    background: url(img/sepArbreHoriz.jpg);
    height: 2px;
    width: 290px;
}

/* burger */

#burger {
    display: none;
    padding: 12px;
    position: absolute;
    top: 0;
    right: 0;
}

#burger a {
    color: black;
}

#burger img {
    font-size: 1.5em;
    width: 39px;
}

#menuBurger {
    display: none;
    margin-left: 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 90vw;
    height: 100vh;
    align-content: center;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: var(--main-grey);
    background-color: var(--main-aside);
}


#menuBurger a {
    color: black;
    text-decoration: none;
    margin: 20px;
    font-size: 1.5em;
}

#close {
    padding: 12px;
    margin: 0px !important;
    position: absolute;
    top: 0;
    right: 0;
}

#menuBurger:target {
    display: flex
}


/* DARK MODE */

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
    }

    a {
        color: white !important;
    }

    #burger img, #footerContacts img, #separator, #footerSeparator, nav>a:hover:after, [aria-current]::after {
        filter: invert(0.6);
    }

    #menuBurger {
        background-color: #434343;
    }

}

@media (prefers-color-scheme: light) {}


/* RESPONSIVE */

@media screen and (max-width: 900px) {
    aside {
        display: none;
    }

    main {
        width: 100%;
    }

    #burger {
        display: block;
    }

    #left {
        margin: 0 !important;
    }

    #page, .textImg, #banner, footer {
        flex-wrap: wrap;
    }

    .illustration {
        width: auto;

    }

    .hideResponsive {
        display: none;
    }

    .text {
        padding: 0px;
    }

    header {
        margin: 0;
    }

    #banner {
        justify-content: center;
    }

    h1 {
        text-align: center;
    }

    #logo img {
        margin: 0;
    }

    .textImg {
        justify-content: center;
        margin: 0;
    }

    footer a {
        margin-bottom: 8px;
    }

    #top {
        display: block
    }
    #cookies{
        width: 100%;
    }
}