#burger *, nav * {
    display: none;
}



/* GENERALITE */

:root {
    --main-white: whitesmoke;
    --main-aside: rgb(217, 183, 96);
    --main-blue: #45567d;
    --main-grey: #303841;
    --main-gold: yellow;

    --opacity: 0.2
}

@font-face {
    font-family: "MyPerpetua";
    src: url(font/perpetua.ttf);
}

@font-face {
    font-family: "MySavoye";
    src: url(font/savoye.ttf);
}

@font-face {
    font-family: "MyPapyrus";
    src: url(font/papyrus.ttf);
}

@font-face {
    font-family: "MySav";
    src: url(font/SavoyeLET.ttf);
}

@font-face {
    font-family: "MyZap";
    src: url(font/Zapfino.ttf);
}

@font-face {
    font-family: "MyAllura";
    src: url(font/Allura-Regular.ttf);
}


/* LAYOUT */

html {
    background-color: var(--main-white);
}

body {
    margin: 0;
    color: black;
    font-size: 20px;
    font-family: "MyPerpetua";
}

main {
    padding: 8px;
}

header {
    margin-left: 9%;
    margin-bottom: 36px;
    display: flex;
}

#banner {
    display: flex;
}

h1, h2 {
    font-family: "MyPapyrus";
    font-weight: bold;
    margin-bottom: 45px;
}

h2 {
    text-align: center;
    font-size: 1.17em;
}

h3 {
    font-weight: normal;
    font-size: 20px;
    text-indent: 1em;
}

#page {
    display: flex;

}

/* LEFT */

#left {
    margin: 0px 0px 0px 12%;
}

.textImg {
    display: flex;
    justify-content: space-around;
    margin-top: 72px;

}

.textImg img {
    height: 300px;
    border-radius: 1%;
    border: solid 3px var(--main-grey);
}

.illustration {
    width: 60%;
    padding: 9px;
    align-content: center;
}

.text {
    padding: 9px;
    align-content: center;
}

.textImg p {
    text-align: justify;
    text-indent: 1em;
}

#logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 50px;
}

.textSolo {
    text-indent: 1em;
    margin-top: 72px;
    padding-right: 18px;
    text-align: justify;
}

/* CITATION */
.quotation {
    text-indent: 1em;
    margin-top: 72px;
    display: block;
}

.quot {
    font-style: italic;
}

.author {
    text-align: right;
    padding-right: 12px;
    font-weight: bold;
}

/* FOOTER */

footer {
    margin-top: 72px;
}

footer a {
    color: black;
    text-decoration: none;

}

#footerSeparator {
    text-align: center;
    margin-bottom: 12px;
}

footer img {
    height: 1px;
    width: 80%;
}

#footerContacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 27px;
}


/*  menu à droite  */
aside {
    min-width: 21%;
    height: 100vh;
    position: sticky;
    top: 0;
    align-content: center;
    padding-right: 45px;

}

aside:before {
    /* A pseudo element is created before outer_cont that will display the background image and its position property is set to absolute */
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("img/AArbreVert2.jpg");
    opacity: var(--opacity);
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}


nav>* {
    z-index: 5;
}

#separator {
    width: 5px;
    background-image: url(img/AArbreZZ4.jpg);
    background-size: cover;
    overflow: hidden;
}

#links {
    margin-top: 72px;
    font-size: 18px;
}


nav, #menuBurger {
    display: flex;
    flex-direction: column;
}

aside a {
    color: black;
    text-decoration: none;
    text-indent: 0.3em;
    margin: 12px;
    border-bottom-width: 2px;
    border-bottom-style: none;
}

/* THIS PAGE */
nav>a::after {
    content: "";
    display: block;
    height: 2px;
    width: 180px;
}

.thisPage::after {
    background: url(img/AArbreZZ2.jpg);
}

.thisPage {
    font-weight: bold;
}

/* HOVER */

a:hover {
    font-weight: bold;
}

nav>a:hover:after {
    content: "";
    display: block;
    background: url(img/AArbreZZ2.jpg);
    height: 2px;
    width: 180px;
}

/* burger */

#burger {
    display: none;
    padding: 12px;
    position: absolute;
    top: 0;
    right: 0;
}

#burger a {
    color: black;
}

#burger img {
    font-size: 1.5em;
    width: 39px;
}

#menuBurger {
    display: none;
    margin-left: 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 90vw;
    height: 100vh;
    align-content: center;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: var(--main-grey);
    background-color: var(--main-aside);
}


#menuBurger a {
    color: black;
    text-decoration: none;
    margin: 20px;
    font-size: 1.5em;
}

#close {
    padding: 12px;
    margin: 0px !important;
    position: absolute;
    top: 0;
    right: 0;
}

#menuBurger:target {
    display: flex
}


/* DARK MODE */

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
    }

    a {
        color: white !important;
    }

    #burger img, #separator, #footerSeparator, nav>a:hover:after, .thisPage::after {
        filter: invert(0.6);
    }

    #menuBurger {
        background-color: #434343;
    }
}

@media (prefers-color-scheme: light) {}


/* RESPONSIVE */

@media screen and (max-width: 900px) {
    aside {
        display: none;
    }

    #burger {
        display: block;
    }

    body {
        margin: 2px;
    }

    #left {
        margin: 0;
    }

    #page, .textImg, #banner, footer {
        flex-wrap: wrap;
    }

    .illustration {
        width: auto
    }

    .hideResponsive {
        display: none;
    }

    .text {
        padding: 0px;
    }

    header {
        margin: 0;
    }

    #banner {
        justify-content: center;
    }

    h1 {
        text-align: center;
    }

    #logo img {
        margin: 0;
    }

    .textImg {
        justify-content: center;
        margin: 0;
    }

    footer a {
        margin-bottom: 8px;
    }

}