/* GENERALITE */

:root {
    --main-white: whitesmoke;
    --main-aside: rgb(197, 217, 96);
    --main-blue: #45567d;
    --main-grey: #303841;
    --main-gold: yellow;
}

@font-face {
    font-family: "MyPerpetua";
    src: url(font/perpetua.ttf);
}

@font-face {
    font-family: "MySavoye";
    src: url(font/savoye.ttf);
}

@font-face {
    font-family: "MyPapyrus";
    src: url(font/papyrus.ttf);
}

@font-face {
    font-family: "MySav";
    src: url(font/SavoyeLET.ttf);
}

@font-face {
    font-family: "MyZap";
    src: url(font/Zapfino.ttf);
}

@font-face {
    font-family: "MyAllura";
    src: url(font/Allura-Regular.ttf);
}


/* LAYOUT */

html {
    background-color: var(--main-white);
}

body {
    max-width: 1400px;
    margin: auto;
    color: black;
    font-size: 24px;
    font-family: "MyPerpetua";
}

header {
    margin-left: 45px;
    display: flex;
    justify-content: space-between;
}

#banner {
    display: flex;
}

h1, h2 {
    font-family: "MyPapyrus";
    font-weight: bold;
}

h2 {
    text-align: center;
}

#page {
    display: flex;
}

/* LEFT */

main {
    padding: 8px;
}

#left {
    min-height: 95vh;
}

.textImg {
    display: flex;
    justify-content: space-around;
    margin-top: 72px;
}

.textImg img {
    height: 350px;
    border-radius: 1%;
    border: solid 3px var(--main-grey) ;
}

.illustration {
    width: 60%;
}

.text {
    padding: 45px 18px 18px 18px;
    /* align-content: center;   */
}

.text p {
    text-align: justify;
    text-indent: 1em;
}

#logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 50px;
}

/* FOOTER */

footer {
 margin-top: 72px;
}

footer a {
    color: black;
    text-decoration: none;

}

#footerSeparator{
    text-align: center;
    margin-bottom: 12px;
}

footer img{
height: 1px;
width: 80%;
}

#footerContacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 27px;
}


/*  menu à droite  */
aside {
    min-width: 220px;
    height: 100vh;
    position: sticky;
    top: 0;
    align-content: center;
    padding-right: 24px;
    background-color: var(--main-aside);

    /* background: linear-gradient(.25turn, var(--main-yellow) 70%, var(--main-gold)); */
    /* background: linear-gradient(to right, transparent, white), url("img/AArbreZZ12.jpg");
    background-size: cover;
    overflow: hidden; */

    /* border-left-width: 2px;
    border-left-style: solid;
    border-left-color: black; */
}

#separator {
    width: 5px;
    background-image: url(img/AArbreZZ4.jpg);
    background-size: cover;
    overflow: hidden;
}

#links {
    margin-top: 72px;
}

nav, #menuBurger {
    display: flex;
    flex-direction: column;
}

aside a {
    color: black;
    text-decoration: none;
    text-indent: 0.3em;
    margin: 20px;
    border-bottom-width: 2px;
    border-bottom-style: none;
}


.thisPage::after{
content: "";
display: block;
background: url(img/AArbreZZ2.jpg);
height: 1px;
width: 180px;
}


/* burger */

#burger {
    display: none;
    padding: 12px;
    position: absolute;
    top: 0;
    right: 0;
}

#burger a {
    color: black;
}

#burger i {
    font-size: 1.5em;
}

#menuBurger {
    display: none;
    margin-left: 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    background-color: var(--main-aside);
    align-content: center;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: var(--main-grey);
}

#menuBurger a {
    color: black;
    text-decoration: none;
    margin: 20px;
    font-size: 1.5em;
}

#close{
    padding: 12px;
    margin: 0px !important;    
    position: absolute;
    top: 0;
    right: 0;
}

#menuBurger:target {
    display: flex
}


/* HAVER */

a:hover{
text-shadow: 1px 1px 1px var(--main-grey);
}

/* RESPONSIVE */

@media screen and (max-width: 900px) {
    aside {
        display: none;
    }

    #burger {
        display: block;
    }

    body {
        margin: 2px;
    }

    #page, .textImg, #banner, footer{
        flex-wrap: wrap;
    }

    .illustration{
        width : auto
    }

    .text{
        padding: 0px;
    }

    header {
        margin: 0;
    }

    #banner {
        justify-content: center;
    }

    h1 {
        text-align: center;
    }

    #logo img {
        margin: 0;
    }

    .textImg{
        justify-content: center;
        margin: 0;
    }

    footer a{
        margin-bottom: 8px;
    }

}

