@import url(layoutStyle.css);

/* h */
h4{
    font-weight: bold;
    text-indent: 1em;
}
h5{
        text-indent: 1em;
}

/* LEFT */

#left {
    margin: 0px 0px 0px 12%;
}


.textImg {
 margin-top: 18px;
}



.illustration {
    border: none;
background-image: url(img/whitebranchH3.jpg);
height: 100px;
background-position: center;
display: block;
align-items: center;
border-radius: 1px;

#svg1 {
    height:20%;
    width: 100%;
    .main {
      fill: var(--main-white);
    }
}
#svg2 {
    height:20%;
    width: 100%;
    .main {
      fill: var(--main-white)
    }
  }
}
.imgSvgmax{
    height: 53%;
}

.text {
    display: block;
    padding: 9px;
    align-content: start;
}

.textSolo p{

    margin-top: 0;
}

.textImg p, .textSolo p {
   text-indent: 1em;
    text-align: justify;
    margin-bottom: 6px;

}


.textSolo {
    margin-top: 18px;
    padding-right: 18px;
    text-align: justify;
}


ul{
      margin: 0;
}
.noListStyle{
    list-style-type: none;
     padding-left: 0;
}

/* REVIEWS */
.reviews p{
        font-style: italic;
        text-indent: 0;
}
.reviews .reviewer, .link{
    text-align: right;
}
.link a{
   color: black;
    text-decoration: none;
}

.reviews > div{
    margin-top: 24px;
}

.reviews span{
    font-style: normal;
}


/* MENU */

aside:before {
    /* A pseudo element is created before outer_cont that will display the background image and its position property is set to absolute */
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("img/whitebranchV2.jpg");
    opacity: var(--opacity);
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}


/* RESPONSIVE */

@media screen and (max-width: 900px) {
    .illustration{
        height: 250px;
        width: 250px;
	    overflow: hidden; 
        padding: 0;
        border: solid 3px var(--main-grey);
    }
    .illustration img{
        border: none;
    }
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
     .illustration {
#svg1 {
    .main {
      fill: #333;
    }
}
#svg2 {
    .main {
      fill: #333;
    }
  }
     }
}

@media (prefers-color-scheme: light) {}
