@import url(layoutStyle.css);

/* h */
h4{
    font-weight: bold;
    text-indent: 0;
}

.lessMargin{
    margin-bottom: 0px;
}

/* LEFT */

#left {
    margin: 0px 0px 0px 12%;
}


section img {
    height: 250px;
    border-radius: 50%;
    border: solid 3px var(--main-grey);
}


.illustration {
    padding: 9px;
   margin-left: 50px;
   margin-right: 100px;
 text-align: right;
 align-content: center;
}

.text {
    display: block;
    padding: 9px;
    align-content: center;
}

.textImg p, .textSolo p {
    text-align: justify;
    margin-bottom: 6px;
}

span {
    display: block;
    text-align: justify;

}

.textImg{
    justify-content: space-between;
    margin-bottom: 51px;
}
.textImg .text{
        align-content:start;
}


.textSolo {
    margin-top: 18px;
    padding-right: 18px;
    text-align: justify;
}

.textSolo a{
text-decoration: none;
}

ul{
      margin: 0;
}
.noListStyle{
    list-style-type: none;
     padding-left: 0;
   

}


/* MENU */

aside:before {
    /* A pseudo element is created before outer_cont that will display the background image and its position property is set to absolute */
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("img/workshopV1.jpg");
    opacity: var(--opacity);
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}


/* RESPONSIVE */

@media screen and (max-width: 900px) {
    .illustration{
        width: 100%;
	    overflow: hidden; 
        padding: 0;
        margin: auto;
        text-align: center;

     
    }
    .illustration img{
        border: solid 3px var(--main-grey);
    }
}
